<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="DAL" value="File"/>
    <add key="UsersPath" value="Users.json"/>
    <add key="AwardsPath" value="Awards.json"/>
    <add key="UsersAndAwardsLinksPath" value="UsersAndAwardsLinks.json"/>
  </appSettings>
</configuration>