body{
    position: absolute;
    background-color: #333333;
}
.Container{
    width: 300px;
    height: 100px;
}
.item{
    display: inline-block;
    position: relative;
    width: calc(100%/6);
    border-radius: 10px;
    background-image:  repeating-linear-gradient(to bottom, rgb(255,208,88), rgb(255, 141,2));
    clip-path: polygon(0% 0%, 100% 0%, 100% 20px, 0% 20px, 0% 25px, 100% 25px, 100% 45px,
    0% 45px, 0% 50px, 100% 50px, 100% 70px, 0% 70px, 0% 75px, 100% 75px, 100% 95px, 0% 95px);
    vertical-align: bottom;
}

.item1{
    height: 75%;
}
.item2{
    height: 50%;
}
.item3{
    height: 25%;
}
.item4{
    height: 100%;
}
.item5{
    height: 25%;
}