<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="DAL" value="File"/>
    <add key="UsersPath" value="E:\\T6\Users.json"/>
    <add key="AwardsPath" value="E:\\T6\Awards.json"/>
    <add key="UsersAndAwardsLinksPath" value="E:\\T6\UsersAndAwardsLinks.json"/>
    <add key="UsersAndImagesLinksPath" value="E:\\T6\UsersAndImagesLinks.json"/>
    <add key="AwardsAndImagesLinksPath" value="E:\\T6\AwardsAndImagesLinks.json"/>
    <add key="WebUsersPath" value="E:\\T6\WebUsers.json"/>
    <add key="UserRolesPath" value="E:\\T6\UserRoles.json"/>
    <add key="ImagesPath" value="E:\\T6\Images.json"/>
  </appSettings>
</configuration>